.org--columns-chart {
	& .org--chart-column {
		& .mol--chart-header {
			height: 140px;
			border-bottom: 3px solid $color--primary;
			margin-bottom: $margin--general;
		}
		& .mol--chart-content {
			margin-bottom: $margin--small; 
			& h4 {
				font-size: 1.3rem;
				font-family: $brand--font-med;
				margin-bottom: 2px;
			}
			& p {
				font-size: 1.2rem;
			}
		}
	}
}


// Chart Columns - Inner
.mol--columns-inner {
	margin-left: $margin--general;
	margin-right: $margin--general;
}

@media(min-width: $max-width) {
	.mol--columns-inner {
		margin-left: unset;
		margin-right: unset;
	}
}