.org--hero-page {
	background-color: $color--bg-light;
	line-height:1;
	padding:0;
	.mol--hero-page {
		.atm--hero-page {}
	}
	& .mol--hero-overlay {
		position:absolute; 
		z-index: 10;
		width: 100%;
		top: 50%; 
		left: 0; 
		transform: translate(0,-50%);
		background-color: rgba($color--primary,0.7);
		color: $color--white;
		padding: $padding--general $padding--small;
		& h2 {
			font-size: 2rem;
			margin-top: 0;
			color: $color--white;
		}
		& h4 {
			font-size: 1.1rem;
			line-height: 1.3;
			margin-top: 0;
			margin-bottom: 0;
			color: $color--white;
		}
		h2 + h4 {
			margin-top: 8px;
		}
		& .button-cta {
			background-color: $color--primary;
			color: $color--white;
			& i {
				color: $color--white;
			}
			&:hover {
				background-color: darken($color--primary,5%);
			}
		}
	}
}

mol--hero-overlay

.org--page-builder {
	& p {
		font-size: 1.1rem;
    	line-height: 1.5;
	}
}


@media (min-width: $media-tablet) {
	.org--hero-page {
		& .mol--hero-overlay {
			width: 90%;
			padding: $padding--general;
			& h2 {
				color: $color--white;
				font-size: 3rem;
				margin-bottom: 6px;
			}
			& h4 {
				color: $color--white;
				font-size: 1.4rem;
				line-height: 1.5;
			}
			h2 + h4 {
				margin-top: 0;
			}
			h4 + .atm--button-cta {
				margin-top: $margin--small*1.5;
			}
		}
	}
}

@media (min-width: $media-desktop) {
	.org--hero-page {
		& .mol--hero-overlay {
			width: 80%;
		}
	}
}