section[class^="templ--single"] {
	overflow-x: hidden;
	& h2 {
		margin-top: $margin--small;
		margin-bottom: $margin--small;
		font-size: 2.4rem;
	}
	& h3 {
		font-size: 1.8rem;;
		margin-bottom: $margin--small*0.5;
	}
}

.mol--title-spacer {
	text-align: center;
	margin-top: $margin--general;
	margin-bottom: $margin--general;
}

.atm--contact {
	margin-bottom: 20px;
	padding-bottom: 60px;
	margin-right: $margin--large;
	& h3 {
		font-family: $brand--font-med;
		font-size: 1.4rem;
		margin-bottom: 7px;
	}
	& h4 {
		font-family: $brand--font-med;
		font-size: 1.2rem;
		margin-bottom: 7px;
	}
}

.atm--form {
	padding: $padding--general 0;
	border-top: 3px solid $color--bg-light;
	border-bottom: 3px solid $color--bg-light;
	margin: $margin--general 0;
	& input {
		font-size: 1rem;
		width: 100%;
		padding: 5px;
		&[type='checkbox'] {
			width: unset;
			margin-right: 10px;
			margin-right: 5px;
		}
	}
	& .wpcf7-list-item {
		margin-left: 0;
	}
	& textarea, select {
		font-size: 1rem;
		width: 100%;
		padding: 5px;
	}
}


.atm--disclaimer p {
	margin: $margin--small 0;
	font-size: 0.8rem;
	line-height: 1.5;
}