@charset "UTF-8";
/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: 'UntitledSans-Regular';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/UntitledSans-Regular/UntitledSans-Regular.eot");
  src: url("../fonts/UntitledSans-Regular/UntitledSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/UntitledSans-Regular/UntitledSans-Regular.woff") format("woff"), url("../fonts/UntitledSans-Regular/UntitledSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'UntitledSans-Medium';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/UntitledSans-Medium/UntitledSans-Medium.eot");
  src: url("../fonts/UntitledSans-Medium/UntitledSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/UntitledSans-Medium/UntitledSans-Medium.woff") format("woff"), url("../fonts/UntitledSans-Medium/UntitledSans-Medium.ttf") format("truetype"); }

/* Original Stencil font, no accents */
@font-face {
  font-family: 'SmilePlasticsStencil-Regular';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/SmilePlasticsStencil-Regular/SmilePlasticsStencil-Regular.eot");
  src: url("../fonts/SmilePlasticsStencil-Regular/SmilePlasticsStencil-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SmilePlasticsStencil-Regular/SmilePlasticsStencil-Regular.woff") format("woff"), url("../fonts/SmilePlasticsStencil-Regular/SmilePlasticsStencil-Regular.ttf") format("truetype"); }

/* Updated Stencil font - July 2023, with accents */
@font-face {
  font-family: 'SmilePlasticsStencil-Accent';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/SmilePlasticsStencil-Accent/SmilePlasticsStencil-Regular.eot");
  src: url("../fonts/SmilePlasticsStencil-Aceent/SmilePlasticsStencil-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SmilePlasticsStencil-Accent/SmilePlasticsStencil-Regular.woff") format("woff"), url("../fonts/SmilePlasticsStencil-Accent/SmilePlasticsStencil-Regular.ttf") format("truetype"); }

/* Initial sizing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*  NOTE. html is set to 62.5% so that all the REM measurements throughout Skeleton are based on 10px sizing. So basically 1.5rem = 15px */
/*  NOTE. If normal, 100% equals 16px sizing. */
html {
  font-size: 100%; }

body {
  color: #413c2d;
  font-family: "UntitledSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 1em;
  /* currently ems because Chrome bug misinterpreting rems on body element */ }

/* Initial sizing - set in 'helpers' - '_variables.scss' */
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
/* Larger than small tablet */
/* Larger than tablet */
/* Larger than desktop */
/* 5 Columns
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px; }

.col-xs-15 {
  width: 20%;
  float: left; }

@media (min-width: 576px) {
  .col-sm-15 {
    width: 20%;
    float: left; } }

@media (min-width: 768px) {
  .col-md-15 {
    width: 20%;
    float: left; } }

@media (min-width: 992px) {
  .col-lg-15 {
    width: 20%;
    float: left; } }

@media (min-width: 1200px) {
  .col-xl-15 {
    width: 20%;
    float: left; } }

/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  transition: 0.3s; }

.container {
  max-width: 1720px;
  padding: 0; }

h1, h2, h3 {
  font-family: "SmilePlasticsStencil-Accent", Arial, Helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  color: #413c2d; }

p, li {
  font-family: "UntitledSans-Regular", Arial, Helvetica, sans-serif;
  color: #413c2d; }

p.ut--lg {
  font-size: 2rem;
  line-height: 1;
  font-family: "UntitledSans-Regular", Arial, Helvetica, sans-serif;
  color: #413c2d; }

a {
  transition: 0.3s;
  color: #413c2d; }
  a:hover {
    color: #050403; }

h1.atm--template-title {
  margin-top: 8rem;
  margin-bottom: 2rem;
  text-align: center; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 1.8rem;
  margin-bottom: 18px; }

h5 {
  font-size: 0.9rem; }

.ut--uc {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif; }

.mol--page-main p {
  font-size: 1.1rem;
  line-height: 1.5; }

.title-indent {
  margin-bottom: 2rem !important; }

blockquote {
  font-size: 1.1rem;
  font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 1rem; }
  blockquote.atm--blockquote-project {
    font-family: "UntitledSans-Regular", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6; }
    blockquote.atm--blockquote-project cite {
      font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
      margin-top: 15px;
      display: block; }

.mol--5050-content blockquote {
  padding: 0; }

.templ--single-page blockquote, .templ--single-project blockquote, .org--page-builder blockquote {
  font-family: "UntitledSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 1.35rem;
  line-height: 1.55;
  padding: 2rem 0; }
  .templ--single-page blockquote cite, .templ--single-project blockquote cite, .org--page-builder blockquote cite {
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
    margin-top: 15px;
    display: block; }

.atm--button-cta {
  margin-top: 2rem; }

button, button.button, a.button {
  font-size: 1rem;
  font-family: "UntitledSans-Regular", Arial, Helvetica, sans-serif;
  color: #413c2d;
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block; }
  button i, button.button i, a.button i {
    transition: 0.3s; }
  button:hover, button.button:hover, a.button:hover {
    cursor: pointer; }

.text-cta, .button-cta, a.button-cta {
  font-size: 1rem;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.08);
  border: none;
  padding: 14px 28px; }
  .text-cta i, .button-cta i, a.button-cta i {
    color: #413c2d;
    transform: translate(0, 2px);
    margin-left: 12px; }
  .text-cta:hover, .button-cta:hover, a.button-cta:hover {
    background-color: rgba(0, 0, 0, 0.16); }
    .text-cta:hover i, .button-cta:hover i, a.button-cta:hover i {
      transform: translate(12px, 2px); }

figure {
  margin: 0;
  padding: 0;
  position: relative; }
  figure figcaption {
    font-size: 0.7rem;
    line-height: 1.1;
    padding: 0;
    margin-top: 7px;
    margin-bottom: 15px;
    margin-left: 5px;
    font-family: "UntitledSans-Regular", Arial, Helvetica, sans-serif;
    color: rgba(65, 60, 45, 0.7); }
    figure figcaption i {
      margin-right: 7px; }
    figure figcaption.atm--fc-default {
      color: rgba(65, 60, 45, 0.7); }
      figure figcaption.atm--fc-default.atm--fc-left {
        text-align: left; }
      figure figcaption.atm--fc-default.atm--fc-right {
        text-align: right; }
    figure figcaption.atm--fc-overlaylight {
      position: absolute;
      margin: 0;
      bottom: 0;
      padding: 8px 6px;
      padding-right: 10px;
      background-color: rgba(255, 255, 255, 0.5);
      color: #413c2d; }
      figure figcaption.atm--fc-overlaylight.atm--fc-left {
        left: 0; }
      figure figcaption.atm--fc-overlaylight.atm--fc-right {
        right: 0; }
    figure figcaption.atm--fc-overlaydark {
      position: absolute;
      margin: 0;
      bottom: 0;
      padding: 8px 6px;
      padding-right: 10px;
      background-color: rgba(65, 60, 45, 0.5);
      color: #e6e6e6; }
      figure figcaption.atm--fc-overlaydark.atm--fc-left {
        left: 0; }
      figure figcaption.atm--fc-overlaydark.atm--fc-right {
        right: 0; }
  figure.atm--repeater-logo img {
    padding-bottom: 1.5rem;
    max-width: 70px; }

@media (min-width: 768px) {
  figure figcaption {
    font-size: 0.85rem; } }

@media (min-width: 992px) {
  .atm--fc-rotated {
    margin: 0;
    padding: 4px 8px;
    padding-left: 0;
    position: absolute;
    left: -26px;
    /* Rotate from top left corner (not default) */
    transform-origin: -3px -3px;
    transform: rotate(-90deg); }
    .atm--fc-rotated i {
      transform-origin: center;
      transform: rotate(180deg); } }

span.atm--fc-default {
  font-size: 0.7rem;
  line-height: 1.1;
  padding: 0;
  margin-bottom: 15px;
  margin-left: 10px;
  font-family: "UntitledSans-Regular", Arial, Helvetica, sans-serif;
  color: rgba(65, 60, 45, 0.7); }
  span.atm--fc-default i {
    margin-right: 7px; }

span.atm--fc-left {
  display: block;
  text-align: left; }

span.atm--fc-right {
  display: block;
  text-align: right; }

@media (min-width: 768px) {
  span.atm--fc-default {
    font-size: 0.85rem; } }

header {
  background-color: #fff;
  margin: 0 10px; }
  header .container {
    padding: 0 1rem; }
  header figure {
    padding: 15px 0; }
    header figure img.logo-brand {
      height: 20px; }

@media (min-width: 768px) {
  header figure img.logo-brand {
    height: 24px; } }

@media (min-width: 1200px) {
  header figure img.logo-brand {
    height: 30px; } }

@media (min-width: 1720px) {
  header {
    margin: 0; } }

nav {
  padding: 1rem 0; }
  nav.bg-light {
    background-color: #fff !important; }
  nav h1, nav h1 a.navbar-brand {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
    font-family: "UntitledSans-Regular", Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 0; }
  nav h1 a.navbar-brand:hover {
    color: #e6e6e6; }
  nav a, nav .nav-link {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #413c2d; }
    nav a:link, nav .nav-link:link {
      color: #413c2d; }
    nav a:visited, nav .nav-link:visited {
      color: #413c2d; }
    nav a:hover, nav .nav-link:hover {
      color: #413c2d; }
    nav a:active, nav .nav-link:active {
      color: #413c2d; }
    nav a:disabled, nav .nav-link:disabled {
      color: rgba(255, 255, 255, 0.3); }
  nav li.menu-item {
    transition: 0.3s;
    padding: 5px 0; }
    nav li.menu-item:hover {
      text-decoration: underline; }

.dropdown-item.active, .dropdown-item:active {
  background-color: #e6e6e6; }

.navbar button.atmButtonNav {
  background-color: rgba(255, 255, 255, 0.06);
  border: 2px solid rgba(255, 255, 255, 0.12); }
  .navbar button.atmButtonNav i {
    color: #413c2d; }
  .navbar button.atmButtonNav:hover {
    color: red; }

@media (max-width: 767px) {
  .offcanvas.offcanvas-end {
    background-color: #e6e6e6;
    color: #413c2d; }
    .offcanvas.offcanvas-end h2 {
      color: white; }
    .offcanvas.offcanvas-end .offcanvas-header {
      padding: 5px 20px; }
      .offcanvas.offcanvas-end .offcanvas-header figure img.logo-brand {
        width: 200px; }
      .offcanvas.offcanvas-end .offcanvas-header button.btn-close {
        background: unset !important;
        opacity: unset; }
        .offcanvas.offcanvas-end .offcanvas-header button.btn-close i {
          color: #413c2d; }
        .offcanvas.offcanvas-end .offcanvas-header button.btn-close:hover i {
          color: rgba(65, 60, 45, 0.5); }
    .offcanvas.offcanvas-end .offcanvas-body {
      padding: 0; }
    .offcanvas.offcanvas-end li.menu-item {
      transition: 0.3s;
      padding: 10px 20px;
      background-color: rgba(0, 0, 0, 0); }
      .offcanvas.offcanvas-end li.menu-item:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.05); }
      .offcanvas.offcanvas-end li.menu-item a.dropdown-item {
        background-color: unset !important; }
        .offcanvas.offcanvas-end li.menu-item a.dropdown-item:hover {
          background-color: unset !important; }
    .offcanvas.offcanvas-end li.current-menu-item, .offcanvas.offcanvas-end li.current-menu-item:hover {
      background-color: rgba(0, 0, 0, 0.05); }
      .offcanvas.offcanvas-end li.current-menu-item:hover, .offcanvas.offcanvas-end li.current-menu-item:hover:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: #e6e6e6; } }

.btn-close {
  width: 3em;
  height: 3em;
  background: unset !important; }

@media (min-width: 768px) {
  .offcanvas.offcanvas-end {
    backdrop-filter: unset;
    background-color: unset; }
    .offcanvas.offcanvas-end li.current-menu-item a, .offcanvas.offcanvas-end li.current-menu-item:hover a {
      color: #413c2d;
      text-decoration: none; } }

section[class^="templ--single"] {
  overflow-x: hidden; }
  section[class^="templ--single"] h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.4rem; }
  section[class^="templ--single"] h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem; }

.mol--title-spacer {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.atm--contact {
  margin-bottom: 20px;
  padding-bottom: 60px;
  margin-right: 4rem; }
  .atm--contact h3 {
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 7px; }
  .atm--contact h4 {
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 7px; }

.atm--form {
  padding: 2rem 0;
  border-top: 3px solid #f7f7f7;
  border-bottom: 3px solid #f7f7f7;
  margin: 2rem 0; }
  .atm--form input {
    font-size: 1rem;
    width: 100%;
    padding: 5px; }
    .atm--form input[type='checkbox'] {
      width: unset;
      margin-right: 10px;
      margin-right: 5px; }
  .atm--form .wpcf7-list-item {
    margin-left: 0; }
  .atm--form textarea, .atm--form select {
    font-size: 1rem;
    width: 100%;
    padding: 5px; }

.atm--disclaimer p {
  margin: 1rem 0;
  font-size: 0.8rem;
  line-height: 1.5; }

.mol--fulltext {
  padding: 2rem 1rem; }

.mol--fulltext p.atm--text-fullwidth {
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 0; }

.mol--fulltext p.atm--text-cite {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 0; }

@media (min-width: 992px) {
  .mol--fulltext {
    padding: 3rem 2rem; }
    .mol--fulltext p.atm--text-fullwidth {
      font-size: 3rem; } }

footer {
  background-color: #413c2d;
  padding: 2rem 2rem; }
  footer a {
    transition: 0.3s; }
    footer a:hover {
      color: rgba(255, 255, 255, 0.3); }
  footer h4 {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
    color: #fff;
    font-family: "UntitledSans-Regular", Arial, Helvetica, sans-serif; }
  footer p {
    color: #fff;
    letter-spacing: 0.05em;
    font-size: 0.85rem;
    margin-bottom: 10px;
    line-height: 1.8; }
    footer p.copyright {
      color: rgba(255, 255, 255, 0.4);
      margin-bottom: 0; }
  footer ul {
    padding-left: 0;
    margin-left: 0;
    list-style: none; }
    footer ul li {
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-family: "UntitledSans-Regular", Arial, Helvetica, sans-serif;
      color: #fff;
      font-size: 0.8rem;
      padding-left: 0;
      margin-left: 0;
      margin-bottom: 18px; }
      footer ul li a {
        color: #fff;
        text-decoration: none; }
  footer a.icon-social {
    color: #fff;
    margin-right: 2rem; }
    footer a.icon-social:last-child {
      margin-right: 0; }
    footer a.icon-social:hover {
      color: rgba(255, 255, 255, 0.4); }
    footer a.icon-social.inactive {
      cursor: not-allowed;
      color: rgba(255, 255, 255, 0.3); }
  footer .col-big {
    margin-bottom: 4rem; }
    footer .col-big:last-child {
      margin-bottom: 0; }
  footer .block--details {
    margin-bottom: 3rem; }
  footer figure img.logo-s {
    margin-bottom: 36px; }
  footer figure img.logo-brand {
    height: 18px;
    margin-bottom: 12px; }
  footer figure.iso-certification {
    max-width: 200px; }
    footer figure.iso-certification figcaption.iso-details {
      color: #fff;
      text-align: center;
      margin-top: 5px;
      font-size: 0.65rem;
      line-height: 1.4; }

@media (min-width: 992px) {
  footer {
    padding: 6rem 2rem; } }

.mol__unit-whoweare p {
  font-size: 2rem;
  line-height: 1.4;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.01em;
  padding-right: 4rem; }

.mol__unit-whoweare p.atm__copyright {
  margin-top: 80px;
  font-size: 0.8rem; }

.mol__unit-contact {
  border-top: solid 1px #e6e6e6;
  padding-top: 1rem;
  margin-bottom: 3rem;
  color: white; }
  .mol__unit-contact:last-child {
    margin-bottom: 0; }
  .mol__unit-contact h4 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
    color: #e6e6e6;
    font-size: 0.9rem;
    margin-bottom: 8px; }
  .mol__unit-contact span {
    font-size: 1.2rem; }

.mol--5050-content {
  margin: 2rem; }

@media (min-width: 768px) {
  .mol--5050-content {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem 0; } }

@media (min-width: 1200px) {
  .mol--5050-content {
    margin-left: 6rem;
    margin-right: 4rem;
    padding: 0; } }

.ut--block-margin {
  margin-bottom: 1rem; }

@media (min-width: 768px) {
  .ut--block-margin {
    margin-bottom: 4rem; } }

.mol--repeater-text:last-child {
  margin-top: 2rem; }

.org--hero-page {
  background-color: #f7f7f7;
  line-height: 1;
  padding: 0; }
  .org--hero-page .mol--hero-overlay {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-color: rgba(65, 60, 45, 0.7);
    color: #fff;
    padding: 2rem 1rem; }
    .org--hero-page .mol--hero-overlay h2 {
      font-size: 2rem;
      margin-top: 0;
      color: #fff; }
    .org--hero-page .mol--hero-overlay h4 {
      font-size: 1.1rem;
      line-height: 1.3;
      margin-top: 0;
      margin-bottom: 0;
      color: #fff; }
    .org--hero-page .mol--hero-overlay h2 + h4 {
      margin-top: 8px; }
    .org--hero-page .mol--hero-overlay .button-cta {
      background-color: #413c2d;
      color: #fff; }
      .org--hero-page .mol--hero-overlay .button-cta i {
        color: #fff; }
      .org--hero-page .mol--hero-overlay .button-cta:hover {
        background-color: #322e23; }

.org--page-builder p {
  font-size: 1.1rem;
  line-height: 1.5; }

@media (min-width: 768px) {
  .org--hero-page .mol--hero-overlay {
    width: 90%;
    padding: 2rem; }
    .org--hero-page .mol--hero-overlay h2 {
      color: #fff;
      font-size: 3rem;
      margin-bottom: 6px; }
    .org--hero-page .mol--hero-overlay h4 {
      color: #fff;
      font-size: 1.4rem;
      line-height: 1.5; }
    .org--hero-page .mol--hero-overlay h2 + h4 {
      margin-top: 0; }
    .org--hero-page .mol--hero-overlay h4 + .atm--button-cta {
      margin-top: 1.5rem; } }

@media (min-width: 992px) {
  .org--hero-page .mol--hero-overlay {
    width: 80%; } }

.templ--single-post .org--image-block {
  margin: 4rem 0; }

.templ--single-post .mol-post-meta {
  margin-top: 4rem; }

.templ--single-post .atm--post-intro {
  font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.2; }

.templ--single-post .mol--post-text {
  margin: 1rem 0; }

.templ--single-post .mol--post-block {
  margin: 4rem 0; }

.templ--single-post .atm--post-category {
  font-size: 1.2rem; }

.templ--single-post .atm--post-author {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.4rem; }
  .templ--single-post .atm--post-author span {
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
    font-size: 0.9rem; }

.templ--single-post .atm--post-date {
  font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
  font-size: 1.2rem; }

.atm--conclusion {
  font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
  font-size: 1.2rem; }

@media (min-width: 768px) {
  .templ--single-post .atm--post-intro {
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1.4; } }

.org--hero-material {
  background-color: #e6e6e6; }
  .org--hero-material .mol--hero-material .atm--material-title h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1; }
  .org--hero-material .mol--hero-material .atm--material-title span.atm--madefrom {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
    font-size: 0.75rem; }
  .org--hero-material .mol--hero-material .atm--material-title h4 {
    font-family: "UntitledSans-Regular", Arial, Helvetica, sans-serif; }

.org--pattern-material .mol--pattern-intro {
  margin-top: 2rem;
  border-bottom: 1px solid #e6e6e6; }
  .org--pattern-material .mol--pattern-intro h3 {
    margin-bottom: 2rem; }

@media (min-width: 768px) {
  .org--pattern-material .mol--pattern-intro {
    border-bottom: none;
    margin-top: 0; } }

.org--footer-material .mol--footer-material .atm--footer-material {
  margin-left: 2rem;
  margin-right: 2rem; }

.org--footer-material .mol--footer-material a.button {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 2rem; }

@media (min-width: 992px) {
  .org--footer-material .mol--footer-material .atm--footer-material {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    padding-right: 2rem; }
  .org--footer-material .mol--footer-material a.button {
    margin-top: 1rem;
    margin-bottom: 0; } }

@media (min-width: 992px) and (max-width: 1720px) {
  .org--footer-material .mol--footer-material {
    padding-left: 1rem;
    padding-right: 1rem; } }

.mol--material-specs {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .mol--material-specs:first-child {
    margin-bottom: 2rem; }
  .mol--material-specs .mol--material-specsize {
    margin-top: 20px;
    margin-bottom: 25px; }
    .mol--material-specs .mol--material-specsize:first-child {
      margin-top: 0; }
    .mol--material-specs .mol--material-specsize:last-child {
      margin-bottom: 0; }
    .mol--material-specs .mol--material-specsize h4 {
      text-transform: uppercase;
      letter-spacing: 0.15em;
      font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
      font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
      font-size: 0.9rem;
      margin-bottom: 3px; }
  .mol--material-specs .mol--material-add {
    margin-top: 20px;
    margin-bottom: 10px; }
    .mol--material-specs .mol--material-add:last-child {
      margin-bottom: 0; }
    .mol--material-specs .mol--material-add h5 {
      text-transform: uppercase;
      letter-spacing: 0.15em;
      font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
      font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif; }
    .mol--material-specs .mol--material-add p {
      font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
      font-size: 0.8rem; }
    .mol--material-specs .mol--material-add i {
      margin-right: 5px; }

@media (min-width: 768px) {
  .mol--material-specs {
    margin-bottom: 0;
    margin-top: 0; } }

.mol--material-card {
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem; }

.org--materials-display-sm {
  margin-top: 2rem;
  background-color: #e6e6e6; }

.org--materials-display-lg {
  margin-bottom: 1rem; }
  .org--materials-display-lg .mol--material-card {
    padding: 7px; }
    .org--materials-display-lg .mol--material-card h3 {
      color: unset;
      margin: 0;
      padding: 0;
      font-family: "SmilePlasticsStencil-Accent", Arial, Helvetica, sans-serif;
      font-size: 1.3rem; }
    .org--materials-display-lg .mol--material-card h4 {
      color: unset;
      margin: 0;
      padding: 0;
      position: relative;
      writing-mode: vertical-rl;
      font-family: "SmilePlasticsStencil-Accent", Arial, Helvetica, sans-serif;
      line-height: 1;
      font-size: 1.1rem; }
    .org--materials-display-lg .mol--material-card h5 {
      text-transform: uppercase;
      letter-spacing: 0.15em;
      font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
      font-size: 0.7rem;
      font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
      color: unset;
      margin: 0;
      padding: 0; }
    .org--materials-display-lg .mol--material-card:hover h3 {
      text-decoration: underline; }
    .org--materials-display-lg .mol--material-card ul {
      margin: 0;
      padding: 0; }
      .org--materials-display-lg .mol--material-card ul li {
        font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        list-style: none;
        margin: 0;
        padding: 0; }

@media (min-width: 768px) {
  .org--materials-display-lg {
    margin-bottom: 4rem; }
    .org--materials-display-lg .mol--material-card {
      padding: 1rem; }
      .org--materials-display-lg .mol--material-card h3 {
        font-size: 1.6rem; }
      .org--materials-display-lg .mol--material-card h4 {
        font-size: 1.2rem; } }

@media (min-width: 992px) {
  .org--materials-display-lg .mol--material-card h3 {
    font-size: 1.75rem;
    line-height: 1.15; }
  .org--materials-display-lg .mol--material-card h4 {
    font-size: 1.4rem; } }

@media (min-width: 1200px) {
  .org--materials-display-lg .mol--material-card h3 {
    font-size: 1.9rem;
    line-height: 1.2; } }

.atm--contrast-light {
  color: #413c2d; }
  .atm--contrast-light ul li {
    color: #413c2d; }
  .atm--contrast-light .mol--material-card:hover {
    background-color: rgba(255, 255, 255, 0.5); }

.atm--contrast-dark {
  color: #fff; }
  .atm--contrast-dark ul li {
    color: #fff; }
  .atm--contrast-dark .mol--material-card:hover {
    background-color: rgba(0, 0, 0, 0.3); }

.atm--relative {
  position: relative; }

.atm--absolute {
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: 5; }

.material--category {
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 10; }

.material--title {
  font-size: 1.2rem;
  line-height: 1.2;
  font-family: "SmilePlasticsStencil-Accent", Arial, Helvetica, sans-serif; }

.atm--material-display {
  transition: 0.3s; }
  .atm--material-display img {
    opacity: 1; }
  .atm--material-display:hover {
    transform: translate(0, -15px); }
    .atm--material-display:hover img {
      opacity: 0.5; }

.org--specifics-project .atm--specifics-project {
  border-bottom: 1px solid #e6e6e6;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0; }
  .org--specifics-project .atm--specifics-project h4 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    margin-top: 5px;
    margin-bottom: 2px; }
  .org--specifics-project .atm--specifics-project span {
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif; }

@media (min-width: 768px) {
  .org--specifics-project .atm--specifics-project {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem; } }

.ut-end-sp {
  border-bottom: none !important; }

@media (min-width: 768px) {
  .ut-end-sp {
    border-bottom: 1px solid #e6e6e6 !important; } }

.org--title-project {
  text-align: center; }

.org--banneradvert {
  color: #413c2d;
  background-color: #e6e6e6;
  padding: 12px 0; }
  .org--banneradvert h3.atm--banneradvert {
    color: #413c2d;
    margin-bottom: 0; }
    .org--banneradvert h3.atm--banneradvert a {
      color: #413c2d;
      text-decoration: underline; }

.org--block-default {
  margin-bottom: 1rem; }

@media (min-width: 768px) {
  .org--block-default {
    margin-bottom: 4rem; } }

.org--blockquote-brand .org--blockquote-brand-inner {
  padding: 2rem 1rem;
  padding-bottom: 4rem; }
  .org--blockquote-brand .org--blockquote-brand-inner blockquote {
    font-size: 1.3rem; }

.org--blockquote-brand .atm--button-cta {
  margin-top: 0; }

@media (min-width: 768px) {
  .org--blockquote-brand .org--blockquote-brand-inner {
    padding: 4rem 2rem; }
    .org--blockquote-brand .org--blockquote-brand-inner blockquote {
      font-size: 1.6rem; } }

.splide__arrow, .splide__pagination__page {
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.08); }
  .splide__arrow:hover, .splide__arrow.is-active, .splide__pagination__page:hover, .splide__pagination__page.is-active {
    background-color: rgba(0, 0, 0, 0.16); }

.org--columns-chart .org--chart-column .mol--chart-header {
  height: 140px;
  border-bottom: 3px solid #413c2d;
  margin-bottom: 2rem; }

.org--columns-chart .org--chart-column .mol--chart-content {
  margin-bottom: 1rem; }
  .org--columns-chart .org--chart-column .mol--chart-content h4 {
    font-size: 1.3rem;
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
    margin-bottom: 2px; }
  .org--columns-chart .org--chart-column .mol--chart-content p {
    font-size: 1.2rem; }

.mol--columns-inner {
  margin-left: 2rem;
  margin-right: 2rem; }

@media (min-width: 1720px) {
  .mol--columns-inner {
    margin-left: unset;
    margin-right: unset; } }

.org--journal {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px; }
  .org--journal .mol--journal-content {
    padding: 1rem; }
    .org--journal .mol--journal-content h4 {
      font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
      font-size: 1.1rem;
      line-height: 1.2; }
      .org--journal .mol--journal-content h4 a {
        text-decoration: none; }
    .org--journal .mol--journal-content p.atm--journal-category {
      text-transform: uppercase;
      letter-spacing: 0.15em;
      font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
      font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
      font-size: 0.8rem;
      margin-bottom: 5px; }
      .org--journal .mol--journal-content p.atm--journal-category a {
        text-decoration: none; }

section.block--journal {
  margin: 4rem 0; }

.org--stats {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .org--stats .mol--stat {
    margin: 0 30px;
    margin-bottom: 50px;
    text-align: center; }
    .org--stats .mol--stat .atm--stat-icon {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 10px;
      padding-bottom: 20px;
      border-bottom: 2px solid #e6e6e6; }
    .org--stats .mol--stat h2.key-stats {
      font-size: 3rem; }
    .org--stats .mol--stat p.atm--stat-desc {
      font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
      font-size: 1rem;
      line-height: 1.2; }
    .org--stats .mol--stat .atm--stat-disclaimer {
      margin-top: 5px;
      font-family: "UntitledSans-Regular", Arial, Helvetica, sans-serif;
      font-size: 0.8rem;
      line-height: 1; }

.org--newsletter {
  color: #fff;
  background-color: #383427;
  padding: 2rem 1rem; }
  .org--newsletter .mol--newsletter-intro h2 {
    margin-top: 0;
    color: #fff;
    font-size: 1.8rem;
    letter-spacing: 0.05em; }
  .org--newsletter .mol--newsletter-intro p {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 20px; }
  .org--newsletter .mol--newsletter-form input {
    border: none !important; }
  .org--newsletter .mol--newsletter-form input[type="text"] {
    border: none;
    padding-left: 15px;
    height: 50px; }
  .org--newsletter .mol--newsletter-form button, .org--newsletter .mol--newsletter-form input[type="submit"].button {
    color: #413c2d;
    min-width: 150px;
    border: none;
    transistion: 0.3s;
    background-color: #e6e6e6;
    height: 50px;
    font-size: 1rem;
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif; }
    .org--newsletter .mol--newsletter-form button:hover, .org--newsletter .mol--newsletter-form input[type="submit"].button:hover {
      color: #413c2d;
      background-color: #d9d9d9; }

@media (min-width: 576px) {
  .org--newsletter {
    padding: 1rem; }
    .org--newsletter .mol--newsletter-intro h2 {
      font-size: 2.8rem; }
    .org--newsletter .mol--newsletter-intro p {
      font-size: 1.2rem; }
    .org--newsletter .mol--newsletter-form button, .org--newsletter .mol--newsletter-form input[type="submit"].button {
      min-width: 200px; } }

@media (min-width: 768px) {
  .org--newsletter {
    padding: 2rem; } }

.org--introduction-page {
  padding: 1rem 1rem;
  text-align: center; }
  .org--introduction-page p.atm--introduction {
    font-size: 1.2rem;
    margin-top: 1rem; }

@media (min-width: 768px) {
  .org--introduction-page {
    padding: 0 2rem; }
    .org--introduction-page p.atm--introduction {
      font-size: 1.6rem; } }

.org--5050-auxiliary {
  margin-bottom: 20px;
  padding-bottom: 60px;
  border-bottom: 1px solid #e6e6e6; }
  .org--5050-auxiliary:last-child {
    border-bottom: none; }
  .org--5050-auxiliary h4 {
    font-size: 2rem;
    border-bottom: 2px solid #413c2d;
    font-family: "SmilePlasticsStencil-Accent", Arial, Helvetica, sans-serif;
    padding-bottom: 4rem;
    margin-bottom: 1.5rem; }
  .org--5050-auxiliary h5 {
    font-size: 1.2rem;
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif; }

.org--workedwith {
  padding: 4rem 1rem; }
  .org--workedwith h1 {
    margin-top: 1rem;
    margin-bottom: 2rem; }
  .org--workedwith .mol--workedwith {
    margin: 1rem 0; }

.wpmenucart-contents {
  margin-left: 10px; }

.woocommerce {
  font-family: "UntitledSans-Regular", Arial, Helvetica, sans-serif; }

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  padding: 5px;
  font-size: 1rem; }

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  margin-top: 0;
  color: #413c2d;
  font-size: 16px;
  line-height: 1;
  font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif; }

table.variations {
  margin-top: 10px;
  margin-bottom: 20px; }
  table.variations label {
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif; }

.woocommerce div.product form.cart .variations select {
  padding: 8px 2px;
  margin-bottom: 5px;
  border: 1px solid #e6e6e6; }

.woocommerce div.product form.cart div.quantity {
  margin-right: 20px; }

.woocommerce-variation-price {
  padding: 20px 0; }

.woocommerce div.product form.cart .reset_variations {
  color: #413c2d; }

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
  transition: 0.3s;
  font-weight: unset;
  font-size: 1rem;
  border-radius: 0;
  border: none;
  padding: 14px 28px;
  background: #413c2d;
  color: #fff; }
  .woocommerce #respond input#submit.alt:hover,
  .woocommerce a.button.alt:hover,
  .woocommerce button.button.alt:hover,
  .woocommerce input.button.alt:hover {
    color: #fff;
    background-color: #383427; }

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
  font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: unset;
  background: #e6e6e6;
  color: rgba(65, 60, 45, 0.5); }

.wpmenucartli {
  margin-top: 4px; }

.mol--page-product {
  padding: 1rem 0; }

.woocommerce div.product div.images {
  float: unset;
  width: 100%;
  margin: 0; }

.woocommerce div.product div.summary {
  float: unset;
  width: 100%;
  padding: 30px; }
  .woocommerce div.product div.summary h1 {
    font-size: 24px;
    margin-bottom: 15px; }
  .woocommerce div.product div.summary .prod__add_inform h4 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif; }
  .woocommerce div.product div.summary .prod__add_inform strong {
    font-family: "UntitledSans-Medium", Arial, Helvetica, sans-serif; }

@media (min-width: 768px) {
  .mol--page-product {
    padding: 2rem 0; }
  .woocommerce div.product div.summary {
    padding: unset;
    padding-top: 60px; }
    .woocommerce div.product div.summary h1 {
      font-size: 26px;
      margin-bottom: 15px; }
    .woocommerce div.product div.summary .woocommerce-product-details__short-description {
      margin: 2rem 0; }
      .woocommerce div.product div.summary .woocommerce-product-details__short-description p {
        font-size: 1rem;
        line-height: 1.4; } }
